<%
=begin%>
<%= simple_form_for([@poll, @poll_response]) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <p> Options are: </p>
  <%= @poll_response.poll.options %>
  <%= f.input :answer %>
</div>
<% end %>
<%
=end%>


<%= render 'form' %>